#OS noise
profile
[Tt]humbs.db
*.DS_Store
*~
*.swp
*.out
*.bak*

#Other CSM
.hg
.svn
CVS

#Xcode noise
*.log
*~.nib
*.moved-aside
Example/*.xcodeproj/*
!Example/*.xcodeproj/project.pbxproj
Example/*.xcworkspace/*
!Example/*.xcworkspace/contents.xcworkspacedata
!xcshareddata
*.xccheckout

#Project files
[Bb]uild/
DerivedData/

#CocoaPods
#Pods
Example/Pods/*.xcodeproj/*
!Example/Pods/*.xcodeproj/project.pbxproj
