# OS noise
*.DS_Store
._*
*~

# Other CSM
.hg
.svn
CVS

# Xcode settings
xcuserdata/

# Xcode noise
*.log
*~.nib
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Build generated
[Bb]uild/
DerivedData/

# Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Carthage
Carthage/

# Swift Package Manager
.build/
